* SurvSet Information may be found [here](https://github.com/ErikinBC/SurvSet)
* Paper may be found [here](https://arxiv.org/pdf/2203.03094.pdf)

In [1]:
from SurvSet.data import SurvLoader
import pandas as pd

pd.set_option('display.max_rows', 100)

In [2]:
loader = SurvLoader()

In [3]:
print(loader.df_ds[~loader.df_ds.is_td])

                  ds  is_td      n  n_fac  n_ohe  n_num
0             hdfail  False  52422      5     87      1
1             stagec  False    146      4     15      3
2            veteran  False    137      3      5      3
3                vdv  False     78      0      0   4705
4           AML_Bull  False    116      0      0   6283
5           LeukSurv  False   1043      2     24      5
6               zinc  False    431     11     18      2
7               burn  False    154     10     12      1
8           UnempDur  False   3241      1      1      5
9              nwtco  False   4028      5      7      2
10             rott2  False   2982      6      7      5
12           gse1992  False    124      4     11  15530
13             FRTCS  False    697      4      4      9
14              cost  False    518     10     10      3
15             rdata  False   1040      2      4      2
16             Aids2  False   2839      3     11      1
17           divorce  False   3371      3      4      0
18     micro.censure  False    117     39     80      1
19               cgd  False    128      7     20      3
20   pharmacoSmoking  False    125      7     12      4
21              Z243  False    100      5     19      4
22             NSBCD  False    115      0      0    549
23               uis  False    628      5     11      3
24          Dialysis  False   6805      2     70      2
25             nki70  False    144      4      5     71
26          Melanoma  False    205      2      2      3
27            cancer  False    228      3     23      5
29             TRACE  False   1878      4      4      2
30           gse4335  False    115      6     20  12795
31               ova  False    358      3      9      2
32        MCLcleaned  False     92      0      0    574
33            smarto  False   3873      9     17     17
34          support2  False   9105     11     41     24
35              vlbw  False    617     15     34      7
36               pbc  False    312      5      5      1
37             DLBCL  False    240      0      0   7399
38         phpl04K8a  False    442      1      1     20
39        dataDIVAT3  False   4267      4     13      3
40        dataDIVAT2  False   1837      3      3      1
41              wpbc  False    198      0      0     32
42             GBSG2  False    686      3      4      5
43  prostateSurvival  False  14294      3      6      0
44        dataDIVAT1  False   5943      3     14      2
45             e1684  False    284      2      2      1
46             acath  False   3504      1      1      2
47        Framingham  False   4699      2     12      5
48             colon  False    929      7     10      2
49            follic  False    541      3      2      2
50              mgus  False    241      2      5      7
51      d.oropha.rec  False    192      8     20      4
52              actg  False   1151      7     13      4
53      dataOvarian1  False    912      2      4    158
54    hepatoCellular  False    227     13     13     30
55           ovarian  False     26      3      3      1
56       retinopathy  False    394      5      9      2
57              Pbc3  False    349      5     12      7
60           whas500  False    461      9     10      7
61              DBCD  False    295      0      0   4919
62          diabetes  False    394      3      3      1
64            glioma  False     37      3      3      1
66              chop  False    414      0      0   3833
67      Unemployment  False    452      5      7      0
68            breast  False    100      4      4      0
70       Bergamaschi  False     82      0      0     10
71          prostate  False    502      6     16      9
72           flchain  False   7874      4     26      6
73             grace  False   1000      2      2      3
74           gse3143  False    158      1      3   8660
75            scania  False   1931      4      7      1

In [178]:
df,ref = loader.load_dataset(ds_name="rott2").values()

In [179]:
ref

'https://rdrr.io/cran/AF/man/rott2.html'

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2982 entries, 0 to 2981
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pid               2982 non-null   int64
 1   event             2982 non-null   int64
 2   time              2982 non-null   float64
 3   num_year          2982 non-null   int64
 4   num_age           2982 non-null   int64
 5   num_nodes         2982 non-null   int64
 6   num_progesterone  2982 non-null   int64
 7   num_estrogen      2982 non-null   int64
 8   fac_meno          2982 non-null   object
 9   fac_tsize         2982 non-null   object
 10  fac_grade         2982 non-null   object
 11  fac_hormon        2982 non-null   object
 12  fac_chemo         2982 non-null   object
 13  fac_recent        2982 non-null   object
dtypes: float64(1), int64(7), object(6)
memory usage: 326.3+ KB

In [181]:
df.shape

(2982, 14)

In [182]:
df.dropna(axis=0,inplace=True)
df.shape

(2982, 14)

In [183]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2982 entries, 0 to 2981
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pid               2982 non-null   int64
 1   event             2982 non-null   int64
 2   time              2982 non-null   float64
 3   num_year          2982 non-null   int64
 4   num_age           2982 non-null   int64
 5   num_nodes         2982 non-null   int64
 6   num_progesterone  2982 non-null   int64
 7   num_estrogen      2982 non-null   int64
 8   fac_meno          2982 non-null   object
 9   fac_tsize         2982 non-null   object
 10  fac_grade         2982 non-null   object
 11  fac_hormon        2982 non-null   object
 12  fac_chemo         2982 non-null   object
 13  fac_recent        2982 non-null   object
dtypes: float64(1), int64(7), object(6)
memory usage: 326.3+ KB

In [184]:
df.head()

,pid,event,time,num_year,num_age,num_nodes,num_progesterone,num_estrogen,fac_meno,fac_tsize,fac_grade,fac_hormon,fac_chemo,fac_recent
0,1264,0,155.66324,1986,54,0,1360,149,post,<=20mm,2,no,no,1978-1987
1,1150,0,105.39630,1990,55,0,763,763,post,>20-50mmm,2,no,no,1988-1993
2,838,0,112.95277,1988,34,0,113,109,pre,<=20mm,2,no,no,1988-1993
3,1214,0,125.66735,1990,42,0,465,79,post,<=20mm,2,no,no,1988-1993
4,1130,0,124.22176,1989,35,0,82,25,pre,<=20mm,2,no,no,1988-1993

In [185]:
df.event.unique()

array([0, 1], dtype=int64)

In [186]:
df.pid.value_counts().max()

1

In [187]:
df.time.min()

1.1827515

In [188]:
df.event.value_counts()

event
0    1710
1    1272
Name: count, dtype: int64

In [193]:
1993 - 1978

15

In [192]:
231/12

19.25

In [191]:
df.time.max()

231.3922

In [189]:
df.describe()

,pid,event,time,num_year,num_age,num_nodes,num_progesterone,num_estrogen
count,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000
mean,1504.954728,0.426559,85.596387,1988.161301,55.058350,2.712274,161.831321,166.589537
std,868.394910,0.494660,42.647312,3.035484,12.952988,4.383844,291.311076,272.465486
min,1.000000,0.000000,1.182751,1978.000000,24.000000,0.000000,0.000000,0.000000
25%,753.250000,0.000000,52.796715,1986.000000,45.000000,0.000000,4.000000,11.000000
50%,1504.500000,0.000000,86.685829,1988.000000,54.000000,1.000000,41.000000,61.000000
75%,2254.750000,1.000000,116.788498,1990.000000,65.000000,4.000000,198.000000,202.750000
max,3007.000000,1.000000,231.392200,1993.000000,90.000000,34.000000,5004.000000,3275.000000