* SurvSet Information may be found [here](https://github.com/ErikinBC/SurvSet)
* Paper may be found [here](https://arxiv.org/pdf/2203.03094.pdf)

In [1]:
from SurvSet.data import SurvLoader
import pandas as pd

pd.set_option('display.max_rows', 100)

In [2]:
loader = SurvLoader()

In [3]:
print(loader.df_ds[~loader.df_ds.is_td])

                  ds  is_td      n  n_fac  n_ohe  n_num
0             hdfail  False  52422      5     87      1
1             stagec  False    146      4     15      3
2            veteran  False    137      3      5      3
3                vdv  False     78      0      0   4705
4           AML_Bull  False    116      0      0   6283
5           LeukSurv  False   1043      2     24      5
6               zinc  False    431     11     18      2
7               burn  False    154     10     12      1
8           UnempDur  False   3241      1      1      5
9              nwtco  False   4028      5      7      2
10             rott2  False   2982      6      7      5
12           gse1992  False    124      4     11  15530
13             FRTCS  False    697      4      4      9
14              cost  False    518     10     10      3
15             rdata  False   1040      2      4      2
16             Aids2  False   2839      3     11      1
17           divorce  False   3371      3      4      0
18     micro.censure  False    117     39     80      1
19               cgd  False    128      7     20      3
20   pharmacoSmoking  False    125      7     12      4
21              Z243  False    100      5     19      4
22             NSBCD  False    115      0      0    549
23               uis  False    628      5     11      3
24          Dialysis  False   6805      2     70      2
25             nki70  False    144      4      5     71
26          Melanoma  False    205      2      2      3
27            cancer  False    228      3     23      5
29             TRACE  False   1878      4      4      2
30           gse4335  False    115      6     20  12795
31               ova  False    358      3      9      2
32        MCLcleaned  False     92      0      0    574
33            smarto  False   3873      9     17     17
34          support2  False   9105     11     41     24
35              vlbw  False    617     15     34      7
36               pbc  False    312      5      5      1
37             DLBCL  False    240      0      0   7399
38         phpl04K8a  False    442      1      1     20
39        dataDIVAT3  False   4267      4     13      3
40        dataDIVAT2  False   1837      3      3      1
41              wpbc  False    198      0      0     32
42             GBSG2  False    686      3      4      5
43  prostateSurvival  False  14294      3      6      0
44        dataDIVAT1  False   5943      3     14      2
45             e1684  False    284      2      2      1
46             acath  False   3504      1      1      2
47        Framingham  False   4699      2     12      5
48             colon  False    929      7     10      2
49            follic  False    541      3      2      2
50              mgus  False    241      2      5      7
51      d.oropha.rec  False    192      8     20      4
52              actg  False   1151      7     13      4
53      dataOvarian1  False    912      2      4    158
54    hepatoCellular  False    227     13     13     30
55           ovarian  False     26      3      3      1
56       retinopathy  False    394      5      9      2
57              Pbc3  False    349      5     12      7
60           whas500  False    461      9     10      7
61              DBCD  False    295      0      0   4919
62          diabetes  False    394      3      3      1
64            glioma  False     37      3      3      1
66              chop  False    414      0      0   3833
67      Unemployment  False    452      5      7      0
68            breast  False    100      4      4      0
70       Bergamaschi  False     82      0      0     10
71          prostate  False    502      6     16      9
72           flchain  False   7874      4     26      6
73             grace  False   1000      2      2      3
74           gse3143  False    158      1      3   8660
75            scania  False   1931      4      7      1

In [265]:
df,ref = loader.load_dataset(ds_name="prostate").values()

In [266]:
ref

'https://hbiostat.org/data/repo/Cprostate.html'

In [267]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pid        502 non-null    int64
 1   event      502 non-null    int64
 2   time       502 non-null    int64
 3   num_age    501 non-null    float64
 4   num_wt     500 non-null    float64
 5   num_sbp    502 non-null    int64
 6   num_dbp    502 non-null    int64
 7   num_hg     502 non-null    float64
 8   num_sz     497 non-null    float64
 9   num_sg     491 non-null    float64
 10  num_ap     502 non-null    float64
 11  num_sdate  502 non-null    int64
 12  fac_stage  502 non-null    object
 13  fac_rx     502 non-null    object
 14  fac_pf     502 non-null    object
 15  fac_hx     502 non-null    object
 16  fac_ekg    502 non-null    object
 17  fac_bm     502 non-null    object
dtypes: float64(6), int64(6), object(6)
memory usage: 70.7+ KB

In [268]:
df.shape

(502, 18)

In [269]:
df.dropna(axis=0,inplace=True)
df.shape

(483, 18)

In [270]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 483 entries, 0 to 500
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pid        483 non-null    int64
 1   event      483 non-null    int64
 2   time       483 non-null    int64
 3   num_age    483 non-null    float64
 4   num_wt     483 non-null    float64
 5   num_sbp    483 non-null    int64
 6   num_dbp    483 non-null    int64
 7   num_hg     483 non-null    float64
 8   num_sz     483 non-null    float64
 9   num_sg     483 non-null    float64
 10  num_ap     483 non-null    float64
 11  num_sdate  483 non-null    int64
 12  fac_stage  483 non-null    object
 13  fac_rx     483 non-null    object
 14  fac_pf     483 non-null    object
 15  fac_hx     483 non-null    object
 16  fac_ekg    483 non-null    object
 17  fac_bm     483 non-null    object
dtypes: float64(6), int64(6), object(6)
memory usage: 71.7+ KB

In [271]:
df.head()

,pid,event,time,num_age,num_wt,num_sbp,num_dbp,num_hg,num_sz,num_sg,num_ap,num_sdate,fac_stage,fac_rx,fac_pf,fac_hx,fac_ekg,fac_bm
0,0,0,72,75.0,76.0,15,9,13.798828,2.0,8.0,0.299988,2778,3,0.2 mg estrogen,normal activity,N,heart strain,N
2,2,1,40,69.0,102.0,14,8,13.398438,3.0,9.0,0.299988,2933,3,5.0 mg estrogen,normal activity,Y,heart strain,N
3,3,1,20,75.0,94.0,14,7,17.597656,4.0,8.0,0.899902,2999,3,0.2 mg estrogen,in bed < 50% daytime,Y,benign,N
4,4,0,65,67.0,99.0,17,10,13.398438,34.0,8.0,0.500000,3002,3,placebo,normal activity,N,normal,N
5,5,1,24,71.0,98.0,19,10,15.099609,10.0,11.0,0.599976,3086,3,0.2 mg estrogen,normal activity,N,normal,N

In [272]:
df.event.unique()

array([0, 1], dtype=int64)

In [273]:
df.pid.value_counts().max()

1

In [274]:
df.time.min()

0

In [275]:
df.event.value_counts()

event
1    344
0    139
Name: count, dtype: int64

In [276]:
231/12

19.25

In [277]:
df.time.max()

76

In [278]:
df.describe()

,pid,event,time,num_age,num_wt,num_sbp,num_dbp,num_hg,num_sz,num_sg,num_ap,num_sdate
count,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000
mean,251.053830,0.712215,35.759834,71.567288,98.954451,14.364389,8.151139,13.421804,14.399586,10.298137,12.492799,3040.687371
std,143.842487,0.453200,23.187229,6.970085,13.363650,2.440099,1.461801,1.931419,12.273667,2.012960,63.338701,220.990564
min,0.000000,0.000000,0.000000,48.000000,69.000000,8.000000,4.000000,5.899414,0.000000,5.000000,0.099991,2652.000000
25%,127.500000,0.000000,14.000000,70.000000,90.000000,13.000000,7.000000,12.249023,5.000000,9.000000,0.500000,2863.000000
50%,252.000000,1.000000,33.000000,73.000000,98.000000,14.000000,8.000000,13.699219,10.000000,10.000000,0.699951,3022.000000
75%,374.500000,1.000000,57.000000,76.000000,107.000000,16.000000,9.000000,14.699219,21.000000,11.000000,3.000000,3205.000000
max,500.000000,1.000000,76.000000,89.000000,152.000000,30.000000,18.000000,18.199219,69.000000,15.000000,999.875000,3465.000000