* SurvSet Information may be found [here](https://github.com/ErikinBC/SurvSet)
* Paper may be found [here](https://arxiv.org/pdf/2203.03094.pdf)

In [2]:
from SurvSet.data import SurvLoader
import pandas as pd

pd.set_option('display.max_rows', 100)

In [3]:
loader = SurvLoader()

In [4]:
print(loader.df_ds[~loader.df_ds.is_td].sort_values("ds"))

                  ds  is_td      n  n_fac  n_ohe  n_num
4           AML_Bull  False    116      0      0   6283
16             Aids2  False   2839      3     11      1
70       Bergamaschi  False     82      0      0     10
61              DBCD  False    295      0      0   4919
37             DLBCL  False    240      0      0   7399
24          Dialysis  False   6805      2     70      2
13             FRTCS  False    697      4      4      9
47        Framingham  False   4699      2     12      5
42             GBSG2  False    686      3      4      5
5           LeukSurv  False   1043      2     24      5
32        MCLcleaned  False     92      0      0    574
26          Melanoma  False    205      2      2      3
22             NSBCD  False    115      0      0    549
57              Pbc3  False    349      5     12      7
29             TRACE  False   1878      4      4      2
8           UnempDur  False   3241      1      1      5
67      Unemployment  False    452      5      7      0
21              Z243  False    100      5     19      4
46             acath  False   3504      1      1      2
52              actg  False   1151      7     13      4
68            breast  False    100      4      4      0
7               burn  False    154     10     12      1
27            cancer  False    228      3     23      5
19               cgd  False    128      7     20      3
66              chop  False    414      0      0   3833
48             colon  False    929      7     10      2
14              cost  False    518     10     10      3
51      d.oropha.rec  False    192      8     20      4
44        dataDIVAT1  False   5943      3     14      2
40        dataDIVAT2  False   1837      3      3      1
39        dataDIVAT3  False   4267      4     13      3
53      dataOvarian1  False    912      2      4    158
62          diabetes  False    394      3      3      1
17           divorce  False   3371      3      4      0
45             e1684  False    284      2      2      1
72           flchain  False   7874      4     26      6
49            follic  False    541      3      2      2
64            glioma  False     37      3      3      1
73             grace  False   1000      2      2      3
12           gse1992  False    124      4     11  15530
74           gse3143  False    158      1      3   8660
30           gse4335  False    115      6     20  12795
0             hdfail  False  52422      5     87      1
54    hepatoCellular  False    227     13     13     30
50              mgus  False    241      2      5      7
18     micro.censure  False    117     39     80      1
25             nki70  False    144      4      5     71
9              nwtco  False   4028      5      7      2
31               ova  False    358      3      9      2
55           ovarian  False     26      3      3      1
36               pbc  False    312      5      5      1
20   pharmacoSmoking  False    125      7     12      4
38         phpl04K8a  False    442      1      1     20
71          prostate  False    502      6     16      9
43  prostateSurvival  False  14294      3      6      0
15             rdata  False   1040      2      4      2
56       retinopathy  False    394      5      9      2
10             rott2  False   2982      6      7      5
75            scania  False   1931      4      7      1
33            smarto  False   3873      9     17     17
1             stagec  False    146      4     15      3
34          support2  False   9105     11     41     24
23               uis  False    628      5     11      3
3                vdv  False     78      0      0   4705
2            veteran  False    137      3      5      3
35              vlbw  False    617     15     34      7
60           whas500  False    461      9     10      7
41              wpbc  False    198      0      0     32
6               zinc  False    431     11     18      2

In [55]:
df,ref = loader.load_dataset(ds_name="prostate").values()

In [56]:
ref

'https://hbiostat.org/data/repo/Cprostate.html'

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pid          146 non-null    int64
 1   event        146 non-null    int64
 2   time         146 non-null    float64
 3   num_age      146 non-null    int64
 4   num_g2       139 non-null    float64
 5   num_gleason  143 non-null    float64
 6   fac_ploidy   146 non-null    object
 7   fac_eet      146 non-null    object
 8   fac_grade    146 non-null    object
 9   fac_gleason  146 non-null    object
dtypes: float64(3), int64(3), object(4)
memory usage: 11.5+ KB

In [32]:
df.shape

(3371, 6)

In [33]:
df.dropna(axis=0,inplace=True)
df.shape

(3371, 6)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3371 entries, 0 to 3370
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pid          3371 non-null   int64
 1   event        3371 non-null   int64
 2   time         3371 non-null   float64
 3   fac_heduc    3371 non-null   object
 4   fac_heblack  3371 non-null   object
 5   fac_mixed    3371 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 158.1+ KB

In [35]:
df.head()

   pid  event    time fac_heduc fac_heblack fac_mixed
0    0      0  10.546     12-15          No        No
1    1      0  34.943       <12          No        No
2    2      1   2.834       <12          No        No
3    3      1  17.532       <12          No        No
4    4      0   1.418     12-15          No        No

In [36]:
df.event.unique()

array([0, 1], dtype=int64)

In [103]:
df.pid.value_counts().max()

1

In [104]:
df.time.max()

4977

In [105]:
df.time.min()

1

In [106]:
df.event.value_counts()

event
1    879
0    164
Name: count, dtype: int64

In [107]:
df.time.value_counts()

time
1       26
2       22
3       17
7       14
90      13
        ..
417      1
413      1
409      1
408      1
4977     1
Name: count, Length: 583, dtype: int64

In [108]:
df.time.apply(lambda x: x is int)

0       False
1       False
2       False
3       False
4       False
        ...
1038    False
1039    False
1040    False
1041    False
1042    False
Name: time, Length: 1043, dtype: bool

In [94]:
df.describe()

              pid       event         time  num_agepill  num_stdagepill
count  431.000000  431.000000   431.000000   431.000000      431.000000
mean   215.000000    0.187935  4561.081206    52.965197       -0.188146
std    124.563237    0.391114  1881.962908     6.996756        1.272138
min      0.000000    0.000000     1.000000    36.000000       -3.272727
25%    107.500000    0.000000  3333.500000    47.000000       -1.272727
50%    215.000000    0.000000  5980.000000    54.000000        0.000000
75%    322.500000    0.000000  5980.000000    58.000000        0.727273
max    430.000000    1.000000  5980.000000    71.000000        3.090909