* SurvSet Information may be found [here](https://github.com/ErikinBC/SurvSet)
* Paper may be found [here](https://arxiv.org/pdf/2203.03094.pdf)

In [1]:
from SurvSet.data import SurvLoader
import pandas as pd

pd.set_option('display.max_rows', 100)

In [2]:
loader = SurvLoader()

In [3]:
print(loader.df_ds[~loader.df_ds.is_td].sort_values("ds"))

                  ds  is_td      n  n_fac  n_ohe  n_num
4           AML_Bull  False    116      0      0   6283
16             Aids2  False   2839      3     11      1
70       Bergamaschi  False     82      0      0     10
61              DBCD  False    295      0      0   4919
37             DLBCL  False    240      0      0   7399
24          Dialysis  False   6805      2     70      2
13             FRTCS  False    697      4      4      9
47        Framingham  False   4699      2     12      5
42             GBSG2  False    686      3      4      5
5           LeukSurv  False   1043      2     24      5
32        MCLcleaned  False     92      0      0    574
26          Melanoma  False    205      2      2      3
22             NSBCD  False    115      0      0    549
57              Pbc3  False    349      5     12      7
29             TRACE  False   1878      4      4      2
8           UnempDur  False   3241      1      1      5
67      Unemployment  False    452      5      7      0
21              Z243  False    100      5     19      4
46             acath  False   3504      1      1      2
52              actg  False   1151      7     13      4
68            breast  False    100      4      4      0
7               burn  False    154     10     12      1
27            cancer  False    228      3     23      5
19               cgd  False    128      7     20      3
66              chop  False    414      0      0   3833
48             colon  False    929      7     10      2
14              cost  False    518     10     10      3
51      d.oropha.rec  False    192      8     20      4
44        dataDIVAT1  False   5943      3     14      2
40        dataDIVAT2  False   1837      3      3      1
39        dataDIVAT3  False   4267      4     13      3
53      dataOvarian1  False    912      2      4    158
62          diabetes  False    394      3      3      1
17           divorce  False   3371      3      4      0
45             e1684  False    284      2      2      1
72           flchain  False   7874      4     26      6
49            follic  False    541      3      2      2
64            glioma  False     37      3      3      1
73             grace  False   1000      2      2      3
12           gse1992  False    124      4     11  15530
74           gse3143  False    158      1      3   8660
30           gse4335  False    115      6     20  12795
0             hdfail  False  52422      5     87      1
54    hepatoCellular  False    227     13     13     30
50              mgus  False    241      2      5      7
18     micro.censure  False    117     39     80      1
25             nki70  False    144      4      5     71
9              nwtco  False   4028      5      7      2
31               ova  False    358      3      9      2
55           ovarian  False     26      3      3      1
36               pbc  False    312      5      5      1
20   pharmacoSmoking  False    125      7     12      4
38         phpl04K8a  False    442      1      1     20
71          prostate  False    502      6     16      9
43  prostateSurvival  False  14294      3      6      0
15             rdata  False   1040      2      4      2
56       retinopathy  False    394      5      9      2
10             rott2  False   2982      6      7      5
75            scania  False   1931      4      7      1
33            smarto  False   3873      9     17     17
1             stagec  False    146      4     15      3
34          support2  False   9105     11     41     24
23               uis  False    628      5     11      3
3                vdv  False     78      0      0   4705
2            veteran  False    137      3      5      3
35              vlbw  False    617     15     34      7
60           whas500  False    461      9     10      7
41              wpbc  False    198      0      0     32
6               zinc  False    431     11     18      2

In [6]:
df,ref = loader.load_dataset(ds_name="flchain").values()

In [7]:
ref

'https://stat.ethz.ch/R-manual/R-devel/library/survival/html/flchain.html'

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7874 entries, 0 to 7873
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pid             7874 non-null   int64
 1   event           7874 non-null   int64
 2   time            7874 non-null   int64
 3   num_age         7874 non-null   int64
 4   num_kappa       7874 non-null   float64
 5   num_lambda      7874 non-null   float64
 6   num_flc_grp     7874 non-null   int64
 7   num_creatinine  6524 non-null   float64
 8   num_sample_yr   7874 non-null   int64
 9   fac_sex         7874 non-null   object
 10  fac_chapter     7874 non-null   object
 11  fac_sample_yr   7874 non-null   object
 12  fac_mgus        7874 non-null   object
dtypes: float64(3), int64(6), object(4)
memory usage: 799.8+ KB

In [9]:
df.shape

(7874, 13)

In [10]:
df.dropna(axis=0,inplace=True)
df.shape

(6524, 13)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6524 entries, 0 to 7873
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pid             6524 non-null   int64
 1   event           6524 non-null   int64
 2   time            6524 non-null   int64
 3   num_age         6524 non-null   int64
 4   num_kappa       6524 non-null   float64
 5   num_lambda      6524 non-null   float64
 6   num_flc_grp     6524 non-null   int64
 7   num_creatinine  6524 non-null   float64
 8   num_sample_yr   6524 non-null   int64
 9   fac_sex         6524 non-null   object
 10  fac_chapter     6524 non-null   object
 11  fac_sample_yr   6524 non-null   object
 12  fac_mgus        6524 non-null   object
dtypes: float64(3), int64(6), object(4)
memory usage: 713.6+ KB

In [33]:
df.head()

   pid  event  time  num_karn  num_diam fac_karn fac_diam fac_figo
0    1      1     7         1         3        1        3        1
1    2      1     8         2         2        2        2        1
2    3      1     9         4         4        4        4        1
3    4      1    10         4         4        4        4        1
4    5      1    13         2         4        2        4        1

In [34]:
df.event.unique()

array([1, 0], dtype=int64)

In [35]:
df.pid.value_counts().max()

1

In [36]:
df.time.min()

7

In [37]:
df.event.value_counts()

event
1    266
0     92
Name: count, dtype: int64

In [38]:
231/12

19.25

In [39]:
df.time.value_counts()

time
7       1
1109    1
1439    1
1421    1
1392    1
       ..
463     1
461     1
459     1
458     1
2729    1
Name: count, Length: 358, dtype: int64

In [40]:
df.time.apply(lambda x: x is int)

0      False
1      False
2      False
3      False
4      False
       ...
353    False
354    False
355    False
356    False
357    False
Name: time, Length: 358, dtype: bool

In [41]:
df.describe()

              pid       event         time    num_karn    num_diam
count  358.000000  358.000000   358.000000  358.000000  358.000000
mean   179.500000    0.743017   980.835196    1.173184    2.650838
std    103.489935    0.437582   741.253381    1.226759    1.379476
min      1.000000    0.000000     7.000000    0.000000    0.000000
25%     90.250000    0.000000   369.250000    0.000000    1.000000
50%    179.500000    1.000000   734.500000    1.000000    3.000000
75%    268.750000    1.000000  1619.250000    2.000000    4.000000
max    358.000000    1.000000  2729.000000    4.000000    4.000000